.activityCard {
   height: clamp(.5rem, 15rem, 15rem) ;
    aspect-ratio: 1;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    border-radius: 1rem;
}

.activitiesGallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.mask {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    background-color: rgba(41, 12, 12, 0.4);
    transition: .3s ease-out;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: .5rem;
    min-height: 20%;
}

.activityCard:hover .mask {
    background-color: rgba(41, 12, 12, 0.7);
    min-height: 100%;
}

.ACTitle {
    color: white;
    transition: .3s ease-out .1s;
    text-align: center;
    font-size: clamp(1rem, 1.5rem, 2.5rem);

}

.activityGallery img {
    height: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    background-color: peachpuff;
    margin: 0 1rem;
}