.carousel {
    width: 100%;
    height: 25rem;
    position:  relative;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.carouselPictures {
    height: 100%;
    width: 100%;
    position: relative;
}

.cImg {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    transition: 1s;
}

.activeImg {
    opacity: 1;
}

.topInfo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
    color: white;
    padding-left: 2rem;
    z-index: 100;
    bottom: 0;
    right: 0;
    height: 15%;
    width: 100%;
    font-size: 1.2rem;
    text-shadow: 0 0 5px black;
    background: linear-gradient(270deg, rgb(72, 17, 28) 0%, rgba(255,0,0,0.054125873982405426) 60%, rgba(255,0,0,0) 100%);
    padding: 1rem 2rem;
 }

 .topInfo img {
    height: 100%;
 }

.topInfo a {
    height: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
    text-shadow: 0 0 5px black;
}

@media only screen and (max-width: 1000px) {
    .carousel {
        height: 10rem;
        margin: 0;
    }
    .topInfo {
        font-size: .6rem;
    }

    .topInfo img {
        height: 1rem;
    }

    .topInfo a {
        font-size: .6rem;
    }
   }